<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QLQuanMiCayConnectionString"
            connectionString="Data Source=DESKTOP-U88ERP0;Initial Catalog=QLQuanMiCay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QLQuanMiCayConnectionString1"
            connectionString="Data Source=DESKTOP-I0PUIIP\HONGTHAM;Initial Catalog=QLQuanMiCay;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>