@model IEnumerable<BLL_DAL.DanhMuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div onclick="showMonByDM(-1)">
    DANH MỤC MÓN
</div>

<div class="row">

    <div class="col-sm-3">
        <ul class="list-group list-group-flush text-left">
            @{
                foreach (var dmuc in Model)
                {
                    <li class="list-group-item">
                        <a onclick="showMonByDM('@dmuc.DM_Id')">@dmuc.DM_Ten</a>
                    </li>
                }
            }
        </ul>
    </div>


    <div class="col-sm-9" id="monPartialZone">
        @Html.Action("MonPartial", "Mon", new { Id = -1, index = ViewBag.Index })
    </div>
    <script>
        function showMonByDM(id) {
            $('#monPartialZone').load("/Mon/MonPartial", { Id: id, index: 1 });
        }
    </script>
</div>


