@model IPagedList<BLL_DAL.Mon>
@using PagedList.Mvc
@using PagedList

<div id="partialMon">
    <ul class="list-group list-group-flush text-left">
        @{
            foreach (var mon in Model)
            {
                <li class="list-group-item">
                    @mon.M_Ten
                </li>
            }
        }
    </ul>
</div>


@Html.PagedListPager(Model, i => Url.Action("Index", "Home", new { index = i }))