
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ hàng</h2>
<table id="cart-item">
    <thead>
        <tr>
            <th width="40%"></th>
            <th width="30%">Sản phẩm</th>
            <th width="20%">Giá</th>
            <th width="10%">Qty</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
