<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BLL_DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QLQuanMiCayConnectionString2"
            connectionString="Data Source=DESKTOP-U88ERP0;Initial Catalog=QLQuanMiCay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QLQuanMiCayConnectionString3"
            connectionString="Data Source=NEWSEAA\SQLEXPRESS;Initial Catalog=QLQuanMiCay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QLQuanMiCayConnectionString4"
            connectionString="Data Source=NEWSEAA\SQLEXPRESS;Initial Catalog=QLQuanMiCay;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <BLL_DAL.Properties.Settings>
            <setting name="QLQuanMiCayConnectionString" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;ConnectionString&gt;Data Source=DESKTOP-KCB97U3\HONGTHAM;Initial Catalog=QLQuanMiCay;User ID=sa;Password=123&lt;/ConnectionString&gt;
  &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;
&lt;/SerializableConnectionString&gt;</value>
            </setting>
            <setting name="QLQuanMiCayConnectionString1" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;ConnectionString&gt;Data Source=DESKTOP-KCB97U3\HONGTHAM;Initial Catalog=QLQuanMiCay;Persist Security Info=True;User ID=sa;Password=123&lt;/ConnectionString&gt;
  &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;
&lt;/SerializableConnectionString&gt;</value>
            </setting>
        </BLL_DAL.Properties.Settings>
    </applicationSettings>
</configuration>