<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BLL_DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <BLL_DAL.Properties.Settings>
            <setting name="QLQuanMiCayConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-U88ERP0;Initial Catalog=QLQuanMiCay;User ID=sa;Password=123</value>
            </setting>
            <setting name="QLQuanMiCayConnectionString1" serializeAs="String">
                <value>Data Source=DESKTOP-U88ERP0;Initial Catalog=QLQuanMiCay;Persist Security Info=True;User ID=sa;Password=123</value>
            </setting>
        </BLL_DAL.Properties.Settings>
    </userSettings>
</configuration>